.form {
  width: 700px;
  background-color:rgb(125, 125, 144);
  background-image: linear-gradient(30deg, rgb(125, 125, 144) 12%, transparent 12.5%, transparent 87%, rgb(125, 125, 144) 87.5%, rgb(125, 125, 144)),
  linear-gradient(150deg, rgb(125, 125, 144) 12%, transparent 12.5%, transparent 87%, rgb(125, 125, 144) 87.5%, rgb(125, 125, 144)),
  linear-gradient(30deg, rgb(125, 125, 144) 12%, transparent 12.5%, transparent 87%, rgb(125, 125, 144) 87.5%, rgb(125, 125, 144)),
  linear-gradient(150deg, rgb(125, 125, 144) 12%, transparent 12.5%, transparent 87%, rgb(125, 125, 144) 87.5%, rgb(125, 125, 144)),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size:40px 60px;
}

